#storyTitle{
    text-align: center;
}

.familyPhoto{
    float: right;
    margin-left: 5px;
}

.firstParagraph{
    float: left;
    margin-left: 3px;
}
.secondParagraph{
    float: left;
    margin-left: 3px;
}