#text{
    float: left;
    width: 50%;
    margin-left: 135px;
    margin-top: 10px;
}
.container mt-3{
    float: right;
    
}
.contactForm{
    width: 20%;
    margin-right: 20px;
    margin-bottom: 0px;
    
}
#email{
    width: 20%;
}
#pwd{
    width: 20%;
}
button{
    float: right;
    margin-right: 260px;
    margin-bottom: 30px;
}