.b1{
    background-color: antiquewhite;
}
#titleReview{
    text-align: center;
    font-size: 20px;
}
#stars{
    text-align: center;
    font-size: 15px;
}
.review{
    padding-left: 5px;
    padding-right: 5px;
}
.cusName{
    text-align: center;
}
.review2{
    padding-left: 5px;
    padding-right: 5px;
    background-color: antiquewhite;
    margin: 0px;
    padding-bottom: 0px;
}
.cusName2{
    text-align: center;
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
}